---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Stephane Damolini{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}Data Science + Engineering{% endif %}</p>
          <p class="author_subtitle">MIT Engineer, problem-solver, finite element creator, code writer, beta tester. Enthusiastic about new technologies, challenges, data, optimization, and (machine) learning.<br><br><a href="{{site.baseurl}}/assets/files/Stephane Damolini - Resume.pdf">Resume.</a><br><br><a href="{{site.baseurl}}/assets/files/Stephane Damolini - Curriculum Vitae.pdf">Full-length curriculum vitae.</a><br><br><a href="{{site.baseurl}}/assets/files/Stephane Damolini - MIT Thesis.pdf">MIT thesis.</a><br><br><a href="https://github.com/sdamolini/">GitHub.</a><br><br><a href="www.linkedin.com/in/damolini">LinkedIn.</a><br><br><a href="http://www.damolini.com">www.damolini.com</a>.</p>
        </div>
      </div>

      <!-- <div class="about_social"> -->
        <!-- {% include social_footer.html %} -->
      <!-- </div> -->
    </div> <!-- End Section Author -->
</section>