
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %} {% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}“You can use all the quantitative data you can get, but you still have to distrust it and use your own intelligence and judgment.” — Clifford Stoll{% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->